// if all of the child elements of element are floated, it collapses and has height of 0px!!
// we use clearfix for that!
@mixin clearfix {
  &::after {
    // if we dont put content, it will not appear on the page
    content: '';
    // display:table is the standard version of the clearfix
    display: table;
    // clear:both makes it so it wil work no matter we use left or right float
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media queries menager
/*
0-600px phone
600-900px Tablet portrait 
900-1200px Tablet landscape 
[1200-1800] Our current 
1800+ Big Desktop
*/

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     // @content allows us to pass a block of code into a mixin
//     @content;
//   }
// }

//ORDER of making media queries: base + typography => general layout  + grid =>  page layout => components

// 1em =16px
// We use ems in media query, not rems bc it seems to be working best
// with media queries, also it will be adapted to user font setting
@mixin respond($breakpoint) {
  // if is a directive we use like in programming
  // with only screen option media queries will apply only to screen, and when
  // we e.g. print website they will not
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px / 16px ((to get ems))
      // @content allows us to pass a block of code into a mixin
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px / 16px
      // @content allows us to pass a block of code into a mixin
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      // @content allows us to pass a block of code into a mixin
      @content;
    }
  }

  // This is for popup
  @if $breakpoint == desktop {
    @media only screen and (max-width: 100em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      // @content allows us to pass a block of code into a mixin
      @content;
    }
  }
}
